/* body{
    width:100%;
    height:100%;;
    background-color:#fff;
    margin:0;
    padding:0;
} */	

@media screen and (max-width: 1500px) {
.bk-down{
	display:none !important;
}
}


@media screen and (min-width:300px) and (max-width: 600px) {
    .m1{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        overflow: hidden;
        height: 250px;
        width:400px;
        background-image:url(../image/paper.png);
        background-position-x: center;
        background-position-y: bottom;
        background-repeat: no-repeat;
    }
    
  .animation{

      max-width:600px !important;
      height:50px !important;
      margin:0 auto;
  }

  .bk-down{
      width:400px !important;
      height:400px !important;
      margin:0 auto !important;
      margin-top:0px !important;
	  flex-direction:column !important;
  }

    .bk-down .left{
        width:100px !important;
        height:50px !important;
        
    }
    .bk-down .left .up{
        font-size:20px !important;
        color:#888b8d;
    }
    .bk-down .left .down{
        margin-top:10px !important;
        font-size:10px !important;
        color:#888b8d;
        line-height:28px;
		
    }
    .right1 img{
	width:60% !important; 
	height:60% !important;
	display:block !important;
	margin-top:60px !important;
	}
    .nr{display:none;}
    .title nav{
        text-align:center;
        font-size:30px !important;
        color:#888b8d;
    }
    .set-white{
        position: relative;
        padding-top: 60px;
        margin: auto;
        background-color:#fff;
        height:100%;
    }
}


/*自适应end*/

#bgvideo{
	background-image:url(https://sdut1.oss-cn-beijing.aliyuncs.com/sdutcpbg.png);
}
	.left img{
    width:32px;
    height:32px;
   
}
.right1 img{
	width:303px; 
	height:200px;
}
.right img{
    width:32px;
    height:32px;
   
}

.bt{
    color:#757575;
    font-size:20px;
    margin-top:30px;
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight: bold;
}
.nr{
    font-size:16px;
    color:#757575;
    margin-top:6px;
}

.title{
    text-align:center;
    font-size:60px !important;
    color:#888b8d;
}

.animation{
    max-width:1440px;
    height:400px;
    margin:0 auto;
}
.animation img{
    max-width:80%;
}
.bk-down{
    max-width:1440px;
    height:240px;
    margin:0 auto;
    margin-top:20px;
    display:flex;
    align-items:center;
    justify-content:center;

}
.bk-down .left{
    width:300px;
    height:180px;
}
.bk-down .left .up{
    font-size:30px;
    color:#888b8d;
}
.bk-down .left .down{
    margin-top:20px;
    font-size:16px;
    color:#888b8d;
}
.bk-down .right{
    height:240px;
    margin-left:200px;

}
.bk-down .right img{
    width: 300px;
}

.set-white{
    position: relative;
    padding-top: 120px;
    margin: auto;
    background-color:#fff;
	height:100%;
  }
.set-blue{
	background-color:#33abfe;
}


.left img{
    width:32px;
    height:32px;
   
}
.right img{
    width:32px;
    height:32px;
   
}
