/* body{
    
    /* background-color: rgb(34, 154, 224); */
}
/* *{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
} */
.black1{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0 ,0.6);
    width: 100%;
    height: 100%;
    z-index: 102;
}
#black1{
    display:block;
}
#closebox{
    position:absolute;
    text-align: right;
    right: 6px;
    top: 6px;
}
.login_box input{
    height: 28px;
    margin-top: 6px;
}
.login_box{
    width: 400px;
    height: 500px;
    position: fixed;
    top: 0;right: 0;left: 0;bottom: 0;
    margin: auto;
    padding: 30px 60px 30px 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 3px 2px rgba(0, 0, 0 , 0.1);
    z-index: 103;
    border-radius: 15px;
    font-size: 18px;
    color: #28262C;
    text-align: center;
    display: blockï¼›
}
.login_box nav{
    font:32px bold;
    margin-bottom: 30px;
}
.login_box input{
    font-size: 18px;
    width: 260px;
    height: 40px;
    margin-bottom: 10px;
}
#dl{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 260px;
    font-size: 24px;
}