@media screen and (max-width: 600px) {
	

.login_box{
    width: 300px !important;
    height: 440px  !important;
    position: fixed;
    top: 0;right: 0;left: 0;bottom: 0;
    margin: auto;
    padding: 10px 20px 10px 20px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 3px 2px rgba(0, 0, 0 , 0.1);
    z-index: 103;
    border-radius: 5px;
    font-size: 16px;
    color: #28262C;
    text-align: center;
    display: block；
}
#login_title{
    font:24px bold;
    margin-bottom: 4px;
}
.login_box input{
    font-size: 14px;
    width: 200px  !important;
    height: 40px  !important;
    margin-bottom: 2px;
}
#dl{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px  !important;
    font-size: 24px;
}
	
}
#black1{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0 ,0.6);
    width: 100%;
    height: 100%;
    z-index: 102;
    display:none;
}
.login_box span{
    color: rgb(161, 161, 161);
}
#login_info{
    font-size: 18px;
}
#closebox{
    height: 30px;
    position:absolute;
    text-align: right;
    top: -90%;
    right: 3%;
}
.login_box input{
    height: 28px;
    margin-top: 6px;
}
.login_box{
    width: 400px;
    height: 500px;
    position: fixed;
    top: 0;right: 0;left: 0;bottom: 0;
    margin: auto;
    padding: 30px 60px 30px 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 3px 2px rgba(0, 0, 0 , 0.1);
    z-index: 103;
    border-radius: 15px;
    font-size: 18px;
    color: #28262C;
    text-align: center;
    display: block；
}
.login_box input{
    font-size: 18px;
    width: 260px;
    height: 40px;
    margin-bottom: 10px;
}
.login_box span{
    /* margin-top: 60px; */
    text-align: right;
    font-size: 12px;
    color: rgb(153, 153, 153);
}
#dl{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 260px;
    font-size: 24px;
}
#login_title{
    font:32px bold;
    margin-bottom: 30px;
}
