body{
    background-color: #eeeeee;
    font-size: 18px;
    text-align: center;
    color: #28262C;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}
.container{
    max-width: 1440px;
    margin: auto;
    
}
.header{
    max-width: 100%;
    background-color: #fff;
    position: relative;
    height: 60px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 4px 2px rgba(0, 0, 0 , 0.3);
}
.logo{
    margin: auto;
    margin-left: 10px;
    width: 60px;
    height: 60px;
    float: left;
}
.header span{
    text-align: right;
    margin-right: 80px;
    color: #7c7c7c;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}
#menu{
    margin: auto;
    width: 60px;
    height: 60px;
    float: right;
}
.main{
    max-width: 1440px;
    height: 900px;
    overflow:visible;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: linear-gradient(to top right, #3c7df1, #62c1fb);
    
    padding-top: 60px;
    color: #eeeeee;
    font-size: 60px;
}
.m1{
    background-image: url("image/paper.png");
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    margin-top: 60px;
    height: 700px;
    width: 100%;
    position: absolute;
}