body{
    background-color: #eeeeee;
    font-size: 18px;
    font-family: Georgia,"Times New Roman","Microsoft YaHei","微软雅黑","STHeiti Light","华文细黑",serif;
    text-align: center;
    color: #28262C;
    z-index: 1;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
input{
    max-width: 180px;
    height: 28px;
    font-size: 18px;
    margin: 6px;
}
select{
    min-width: 60px;
    max-width: 180px;
    min-height: 28px;
    font-size: 18px;
    margin: 6px;
}
.container{
    max-width: 1440px;
    margin: auto;
}
/* 导航栏 */
.header{
    max-width: 100%;
    background-color: #fff;
    position: relative;
    height: 60px;
    margin-top: 0px;
    box-shadow: 0 3px 2px rgba(0, 0, 0 , 0.1);
    z-index: 100;
}
.daohang{
    padding: 10px;
    height: 60px;
    display: block;
}
.daohang span{
    text-align: right;
    margin-right: 30px;
    color: #7c7c7c;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}
.daohang span a{
    text-decoration: none;
    color: #7c7c7c;
    display: inline block;
}
#logo{
    float: left;
    margin-left: 10px;
}
#user_pic{
    float: right;
    margin-right: 30px;
}
#username{
    text-align: right;
    margin-right: 120px;
    color: #7c7c7c;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

/* 下拉菜单 */
.caidan {
    position: absolute;
    margin-top: 50px;
    right: 0;
    width: 120px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 3px 2px rgba(0, 0, 0 , 0.1);
    z-index: 99;
    display: none;
    /* opacity: 0;
    transition: 0.3s;
            -webkit-transition: .5s;
            -moz-transition: .5s; */
  }   
daohang a:hover .caidan{
    display: block;
}
.caidan ul {   
    list-style-type: none;    

  }   
              
.caidan li {   
    font:18px/2 Helvetica, Verdana, sans-serif;   
    border-bottom: 1px solid #ccc;   
  }   
              
.caidan li:last-child {   
    border: none;   
  }   
              
.caidan li a {   
    text-decoration: none;   
    color: #7c7c7c;   
    display: block;   
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;   
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;   
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;   
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;   
    transition: font-size 0.3s ease, background-color 0.3s ease;   
  }   
              
.caidan li a:hover {   
    font-size: 22px;   
    background: #f6f6f6;   
  }

 /* 内容 */
.main{
    max-width: 1440px;
    height: 900px;
    overflow:visible;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: linear-gradient(to top right, #3c7df1, #62c1fb);
    padding-top: 60px;
    color: #fcfcfc;
    font-size: 56px;
    
}
.m1{
    background-image:url(../image/paper.png);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    height: 766px;
    width: 100%;
    position: relative;
    overflow: hidden;

}
.m2{
    max-width: 700px;
    max-height: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 136px;
    margin-bottom: 50px;
    font-size: 18px;
    color: #7c7c7c;
    text-align: left;
    display: block;

}
.form{
    margin: auto;
    max-width: 600px;
    height: 440px;
    position: relative;
    /* border: 1px #28262C dashed; */
}
#form1{
    max-width: 600px;
    height: 440px;
    /* background-color: rgb(255, 214, 214); */
    z-index: 7;
}

#form1 span{
    color: #28262C;
    font-family: "微软雅黑";
}
#form2{
    max-width: 600px;
    height: 440px;
    /* background-color: rgb(214, 255, 226); */
    z-index: 8;
    font-size: 22px;
    display: none;
}
#form3{
    max-width: 600px;
    position: relative;
    height: 440px;
    z-index: 9;
    display: none;
}
#baiduMap{
    margin: auto;
    width: 600px;
    height: 350px;
    position: relative;
    border-radius: 6px;
    z-index: 10;
    /* border: 10px dashed #62c1fb; */
}
#map_search{
    top: 30;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    margin: auto;
    max-width: 500px;
    height: 48px;
    padding-left: 20px;
    font-size: 22px;
    border-radius: 30px;
    display: inline-block;
    border: 3px;
    z-index: 12;
}
.mapform{
    max-width: 700px;
    height: 180px;
    top:350px;
    z-index: 12;
}
.mapform table{
    top: 6px;
    text-align: center;
    position: relative;
    margin: auto;
}
.mapform td{
    padding: 6px;
    min-width: 70px;
    max-width: 120px;
    height: 30px;
    border-color: #ffffff;
    border: #ffffff solid 1px;
    border-radius: 6px;
}
.mapform thead{
    background-color: #b9c9fe;
    min-width: 70px;
    height: 30px;
    padding: 4px;
    color: #003399;
    font-size: 16px;
}
.mapform tbody{
    background-color: #e8edff;
    min-width: 70px;
    height: 30px;
    color: #b9c9fe;
    padding: 4px;
    font-size: 18px;
    font-weight: bold;
}
#other{
    min-width: 110px;
}
#other1{
    min-width: 110px;
}

.go{
    position: absolute;
    width: 700px;
    top:440px;
    font-size: 32px;
    text-align: center;
    z-index: 20;
}
.go button{
    width: 240px;
    position: absolute;
    left: 25%;
}

#data_select{
    padding-top: 2px;
    position: absolute;
    float: left;
    font-size: 20px;
    min-width: 120px;
    max-width: 300px;
    z-index: 11;
    font-weight: bold;
}
#data_select select{
    margin: 0;
    padding: 0;
}
#data_left{
    text-align: right;
    font-size: 22px;
    color: #28262C;
    width: 400px;
    position: absolute;
    float: left;
    padding-top: 2px;
}
#data_left nav{
    margin:0px;
    margin-bottom: 4px;
}
#data_right{
    font-size: 22px;
    padding-top: 2px;
    position: absolute;
    padding-left: 10px;
    text-align: left;
    max-width: 100%;
    margin-left: 400px;
    float: left;
}

#data_right input{
    text-align: right;
    font-size: 18px;
    margin:0px;
    margin-bottom:4px;
}
#data_right select{
    font-size: 18px;
    margin: 0px;
    margin-bottom:4px;
}
#data_right textarea{
    font-size: 18px;
    margin: 0px;
    margin-bottom:4px;
}
#paper_num{
    max-width: 60px;
}
#other_info{
    max-width: 180px;
    resize: none;
}
.footer{
    font-size: 18px;
    height: 160px;
    max-width: 100%;
    display: block;
    color: #7c7c7c;
    display: block;
}
.footer a{
    text-decoration: none;
    color: #7c7c7c;
    display: inline block;

}
