@media screen and (max-width: 1024px) {
body{transform:scale(0.8);
	-webkit-transform:scale(0.8);}
}
@media screen and (max-width: 600px) {
	#
	.m2{
		margin-top:0px;
	}
	#form1{
		height:300px;
	}
	#mydropzone{
		width:300px;
		height:250px;
		margin-top:200px;
		margin-left:auto;
		margin-right:auto;
	}
	.jdt{
		width:200px;
	}
	.data_left{
		font-size:10px;
		width:330px;
	}
  .header{
      max-width: 1440px;
      position: relative;
      height: 40px;
      margin-top: 0px;
      margin: auto;
  }
  .daohang{
      padding: 10px;
      height: 35px;
      display: block;
  }

  .go img{
    width:400px;
  }
  .m1{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
	  top:20px;
      margin: auto;
      overflow: hidden;
      height: 50%;
      width:80%;
      background-image:url(../image/paper.png);
      background-position-x: center;
      background-position-y: bottom;
      background-repeat: no-repeat;
  }
  .form{
      margin: auto;
      max-width: 400px;
      height: 300px;
      position: relative;
      /* border: 1px #28262C dashed; */
  }
  #logo{
    float: left;
    margin-left: 10px;
	height:20px !important;
	width:100px !important;
		}
	#user_pic{
			float: right;
			margin-right: 30px;
			height:20px;
			width:20px;
			
		}
	#uname{
			text-align: right;
			margin-right: 120px;
			color: #7c7c7c;
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
			font-size:8px;
		}
	.daohang{
    padding: 10px;
    height: 40px !important;
    display: block;
	}
	.header{
	height:40px !important;
	}
	
	.cf{
		width:80px !important;
		height:200px !important;
		margin-top:200px !important;
		font-size:8px !important;
		margin-left:5px !important;
	}
	#data_left{
		width:300px !important;
		font-size:18px !important;
		margin-top:200px !important;
	}
	#data_right{
		margin-left:300px !important;
		margin-top:200px !important;
		font-size:18px !important;
		
	}
	textarea{
		width:60px !important	;
		height:40px !important;
	}
}


#morenzh{
	font-size:10px;
	line-height:1px;
	color:#888;
	
}
body{
    /*background-color: #eeeeee;*/
    font-size: 18px;
    font-family: "Microsoft YaHei","微软雅黑","STHeiti Light","华文细黑",serif;
    text-align: center;
    color: #28262C;
    z-index: 1;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#form2 input{
    max-width: 180px;
    height: 28px;
    font-size: 18px;
    margin: 6px;
}
select{
    min-width: 60px;
    max-width: 180px;
    min-height: 28px;
    font-size: 18px;
    margin: 6px;
}
.container{
    max-width: 100%;
    margin: auto;
}

/* 导航栏 */
.hd{
    position: absolute;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 2px rgba(0, 0, 0 , 0.1);
    z-index: 100;
}
.header{
    max-width: 1440px;
    position: relative;
    height: 60px;
    margin-top: 0px;
    margin: auto;
}
.daohang{
    padding: 10px;
    height: 60px;
    display: block;
}
.daohang span{
    text-align: right;
    margin-right: 30px;
    color: #7c7c7c;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}
.daohang span a{
    text-decoration: none;
    color: #7c7c7c;
    display: inline block;
}
#logo{
    float: left;
    margin-left: 10px;
}
#user_pic{
    float: right;
    margin-right: 30px;
}
#uname{
    text-align: right;
    margin-right: 120px;
    color: #7c7c7c;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

/* 下拉菜单 */
.caidan {
    position: absolute;
    margin-top: 50px;
    right: 0;
    width: 120px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 3px 2px rgba(0, 0, 0 , 0.1);
    z-index: 99;
    display: none;
    /* opacity: 0;
    transition: 0.3s;
            -webkit-transition: .5s;
            -moz-transition: .5s; */
  }
daohang a:hover .caidan{
    display: block;
}
.caidan ul {
    list-style-type: none;
}
.caidan li {
    font:18px/2 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
  }

.caidan li:last-child {
    border: none;
  }

.caidan li a {
    text-decoration: none;
    color: #7c7c7c;
    display: block;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.caidan li a:hover {
    font-size: 22px;
    background: #f6f6f6;
  }

 /* 内容 */
.main{
    max-width: 100%;
    height: 100%;
    overflow:visible;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: linear-gradient(to top right, #3c7df1, #62c1fb);
}
.mt{
    position: relative;
    height: 200px;
    left: 0;
    right: 0;
    margin: auto;
    top: 120px;
    color: #fcfcfc;
    font-size: 56px;
}
.m1{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    height: 700px;
    background-image:url(../image/paper.png);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}
.m2{
    max-width: 700px;
    max-height: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    
    text-align: left;
    display: block;
}
.form{
    margin: auto;
    max-width: 600px;
    height: 440px;
    position: relative;
    /* border: 1px #28262C dashed; */
}
#form0{
    max-width: 600px;
    height: 600px;
    /* background-color: rgb(255, 214, 214); */
    z-index: 7;
    display: block;
}
#start{
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 200px;
    font-size: 32px;
    font-weight: bold;
}
#form1{
    max-width: 600px;
    height: 440px;
    /* background-color: rgb(255, 214, 214); */
    z-index: 7;
    display: none;
}

#form1 span{
    color: #28262C;
    font-family: "微软雅黑";
}
#form2{
    max-width: 600px;
    height: 440px;
    /* background-color: rgb(214, 255, 226); */
    z-index: 8;
    font-size: 22px;
    display: none;
}
#form3{
    max-width: 600px;
    height: 440px;
    z-index: 9;
    display: none;
}
#baiduMap{
    margin: auto;
    width: 600px;
    height: 320px;
    position: relative;
    border-radius: 6px;
    z-index: 10;
    /* border: 10px dashed #62c1fb; */
}
#map_search{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 30;
    width: 80%;
    height: 48px;
    padding-left: 20px;
    padding-right: 14px;
    font-size: 22px;
    border-radius: 30px;
    display: block;
    border: 3px;
    z-index: 12;
}
.mapform{
    max-width: 700px;
    height: 180px;
    top:350px;
    z-index: 12;
}
.mapform table{
    text-align: center;
    position: relative;
    margin: auto;
}
.mapform td{
    min-width: 70px;
    max-width: 120px;
    height: 36px;
    border-color: #ffffff;
    border: #ffffff solid 1px;
    border-radius: 6px;
    font-weight: bold;
}
.mapform thead{
    background-color: #b9c9fe;
    min-width: 60px;
    height: 40px;
    padding: 4px;
    color: #003399;
    font-size: 18px;
}
.mapform tbody{
    background-color: #e8edff;
    min-width: 60px;
    height: 36px;
    color: #7884aa;
    padding: 2px;
    font-size: 12px;

}
#gettime{
    min-width: 180px;
}
#gettime1{
    min-width: 180px;
	background-color:#ffcab7;
}
/* #other{
    min-width: 100px;
}
#other1{
    min-width: 100px;
} */
#datepicker{
    background-color: #e8edff;
    max-width: 178px;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: #7884aa;
    text-align: center;
    font-weight: bold;
}

.go{
    position: absolute;
    width: 100%;
    top:440px;
    text-align: center;
    z-index: 20;
}
.go button{
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family:"微软雅黑";
    font-weight: bold;
}
#deadline{
    width: 172px;
}
#data_select{
    padding-top: 2px;
    position: absolute;
    float: left;
    font-size: 20px;
    min-width: 120px;
    max-width: 300px;
    z-index: 11;
    
}
#data_select select{
    margin: 0;
    padding: 0;
}
#data_left{
    text-align: right;
    font-size: 20px;
    color: #28262C;
    width: 400px;
    position: absolute;
    float: left;
    padding-top: 2px;
	font-family: "微软雅黑";
	
}
#data_left nav{
    margin:0px;
    margin-bottom: 4px;
	color: #28262C;
    font-family: "微软雅黑";
}


.cf{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 160px;
    height: 280px;
    overflow: scroll;
    font-weight: normal;
    font-size: 18px;
    display: inline-block;
    text-align: center;
}
.cf ul {
    list-style-type: none;
}
.cf li {
    font:18px/2 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}

.cf li:last-child {
    border: none;
}
.cf li{
    text-decoration: none;
    color: #7c7c7c;
    display: block;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}
.cf li:hover {
    color: #fff;
    font-size: 16px;
    background: #3c7df1;
}

#data_right{
    font-size: 22px;
    padding-top: 2px;
    position: absolute;
    padding-left: 10px;
    text-align: left;
    max-width: 100%;
    margin-left: 400px;
    float: left;
}

#data_right input{
    text-align: right;
    font-size: 18px;
    margin:0px;
    margin-bottom:4px;
    max-width: 60px;
}
#data_right select{
    font-size: 18px;
    margin: 0px;
    margin-bottom:4px;
}
#data_right textarea{
    font-size: 18px;
    margin: 0px;
    margin-bottom:4px;
}
#paper_num{
    max-width: 60px;
}
#other_info{
    max-width: 180px;
    resize: none;
}

.finish{
    position: fixed;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width: 480px;
    height: 300px;
    display: inline-block;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 1px 8px rgba(0, 0, 0 , 0.4);
    z-index: 101;
    text-align: center;
    font-weight: bold;
}
.finish img,nav,a{
    position: relative;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin: auto;
}
.finish img{
    margin-top: 20px;
}
.finish nav{
    margin-top: 10px;
    color: #28262C;
    font-weight: bolder;
    font-size: 24px;
}
.finish p{
    margin-top: 18px;
    color: #7c7c7c;
    font-weight: normal;
}
#fin{
    position: absolute;
    left:0;
    right:0;
    margin: auto;
    top: 220px;
}
#fin a{
    width: 160px;
    margin-left: 10px;
    margin-right: 10px;
}
.gray{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0 , 0.3);
    width: 100%;
    height: 100%;
    z-index: 102;
}
.jdt{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    top: 660px;
}

.footer{
    font-size: 18px;
    height: 160px;
    max-width: 100%;
    display: block;
    color: #7c7c7c;
    display: block;
}
.footer a{
    text-decoration: none;
    color: #7c7c7c;
    display: inline block;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
}

.dropzone {
    width: 600px;
    height: 340px;
}

.dropzone {
    font-size: 0.8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}
.mapform-sj{
	display:none;
}