body{
    background-color: #eeeeee;
    font-size: 18px;
    text-align: center;
    color: #28262C;
    z-index: 1;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}
.container{
    max-width: 1440px;
    margin: auto;
}
/* 导航栏 */
.header{
    max-width: 100%;
    background-color: #fff;
    position: relative;
    height: 60px;
    margin-top: 0px;
    box-shadow: 0 3px 2px rgba(0, 0, 0 , 0.1);
    z-index: 4;
}
.daohang{
    padding: 10px;
    height: 60px;
    display: block;
}
#logo{
    float: left;
    margin-left: 10px;
}
#user_pic{
    float: right;
    margin-right: 30px;
}
.header span{
    text-align: right;
    margin-right: 120px;
    color: #7c7c7c;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

/* 下拉菜单 */
.caidan {   
    position: absolute;
    right: 0;
    width: 120px;
    background-color: #ffffff;
    text-align: center;
    box-shadow: 0 3px 2px rgba(0, 0, 0 , 0.1);
    z-index: 5;
  }   

.caidan ul {   
    list-style-type: none;    

  }   
              
.caidan li {   
    font:18px/2 Helvetica, Verdana, sans-serif;   
    border-bottom: 1px solid #ccc;   
  }   
              
.caidan li:last-child {   
    border: none;   
  }   
              
.caidan li a {   
    text-decoration: none;   
    color: #7c7c7c;   
    display: block;   
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;   
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;   
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;   
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;   
    transition: font-size 0.3s ease, background-color 0.3s ease;   
  }   
              
.caidan li a:hover {   
    font-size: 28px;   
    background: #f6f6f6;   
  }

 /* 内容 */
.main{
    max-width: 1440px;
    height: 900px;
    overflow:visible;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: linear-gradient(to top right, #3c7df1, #62c1fb);
    padding-top: 60px;
    color: #eeeeee;
    font-size: 56px;
}
.m1{
    background-image:url(../image/paper.png);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    height: 766px;
    width: 100%;
    position: relative;
    overflow: hidden;

}
.m2{
    max-width: 600px;
    max-height: 600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 136px;
    margin-bottom: 50px;
    font-size: 18px;
    color: #7c7c7c;
    text-align: left;
    display: block;

}
.form{
    height: 500px;
    /* border:1px #28262C dashed; */
}
.go{
    margin: auto;
    width: 200px;
    height: 54px;
    background-color: #3f83f5;
    color: #fff;
    font-size: 40px;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0);
}
#tzsc{
    height: 300px;
    border: 3px #3c7df1 dashed;
    border-radius: 8px;
    margin-bottom: 6px;
}
#tzsc nav{
    text-align: center;
    font-size: 30px;
    padding:120px 0;
}
.form span{
    font-size: 20px;
    color: #28262C
}
.form a{
    width: 120px;
    display: inline-block;
    position: absolute;
    right: 0px;
    font:20px Helvetica, Verdana, sans-serif;  
    text-align: center;
    text-decoration: none;
    font-weight:bold;
    color:#6b6b6b;
    background: #d4d4d4;
    border-radius: 6px;
}