.container{
    max-width: 1440px;
    margin: auto;
    padding: 0px;
}
.regist{
    max-width: 100%;
    margin: auto;
    min-height: 900px;
    background-color: #ffffff;
    position: relative;
    font-size: 20px;
    padding-top: 80px;
}
input{
    margin: 0px;
    padding: 0px;
    height:28px;
    margin-bottom: 6px;
}
.lo_box{
    width: 100px;
    border: 0px;
    background: #2D93CA;
    color: white;
}
.biaoti{
    position: relative;
    text-align: left;
    margin-bottom: 2px;
    font-size: 38px;
    color: #3E5C76;
}
.form{
    margin: auto;
    text-align: left;
    max-width: 500px;
    min-height: 500px;
    position: relative;
}
.form_left{
    text-align: right;
    margin-top: 10px;
    width: 160px;
    position: absolute;
    float: left;
    padding-top: 2px;
}
.form_left nav{
    margin-bottom: 6px;
}
.form_right{
    position: absolute;
    margin-top: 12px;
    text-align: left;
    max-width: 100%;
    margin-left: 158px;
    float: left;
}
.card{
    max-width: 780px;
    margin: auto;
}
.card-header a{
    font-weight: bold;
    display: inline block;
    font-size: 22px;
}
#headingOne{
    color: #3c7df1;
}
#headingTwo{
    background-color: #3c7df1;
    color: rgb(255, 255, 255);
}
.submit{
    position: relative;
    margin-top: 30px;
}
.submit a{
    width: 120px;
}
#map{
    width: 500px;
    height: 200px;
    position: absolute;
    top: 240px;
    border-radius: 6px;
}
#mapinfo{
    position: absolute;
    border-color: #ffffff;
    text-align: center;
    top: 440px;
    
}
#mapinfo td{
    min-width: 100px;
    height: 30px;
    border-color: #ffffff;
    border: #ffffff solid 1px;
    border-radius: 6px;
}
#ttwo{
    background-color: #e8edff;
    min-width: 100px;
    height: 30px;
    color: #b9c9fe;
    padding: 4px;
    font-size: 18px;
    font-weight: bold;
}
#tone{
    background-color: #b9c9fe;
    min-width: 100px;
    height: 30px;
    padding: 4px;
    color: #003399;
    font-size: 16px;
}