@media screen and (max-width: 600px) {

.card{
    width: 300px !important;
    position: relative;
    margin: auto;
	}
.biaoti{
    position: relative;
    text-align: left;
    margin-bottom: 2px;
    font-size: 1.3rem !important;
    color: #3E5C76;
	}
.form_left{
    text-align: right !important;
    margin-top: 5px;
    width: 90px !important;
    position: absolute;
    float: left;
    padding-top: 2px;
	font-size:18px;
}
.form_right{
    position: absolute;
    margin-top: 12px;
    text-align: left;
    margin-left: 100px !important;
    float: left;
}
input{
	width:120px;
}
#map{
    width: 250px !important;
    height: 150px !important;
    position: relative;
    border-radius: 6px;
}

#mapinfo{
    width: 250px;
    position: relative;
    border-color: #ffffff;
    text-align: center;
}
#mapinfo td{
    max-width: 44px;
    height: 30px;
    border-color: #ffffff;
    border: #ffffff solid 1px;
    border-radius: 4px;
    padding: 4px;
}
#mapinfo tbody{
    background-color: #e8edff;
}
#ttwo{
    background-color: #e8edff;
    max-width: 44px;
    height: 30px;
    color: #b9c9fe;
    padding: 4px;
    font-size: 10px;
    text-align: center;
}
#tone{
    background-color: #b9c9fe;
    max-width: 44px;
    height: 30px;
    padding: 4px;
    color: #003399;
    font-size: 16px;
    font-weight: bold;
}
#mapinfo input{
    text-align: center;
    height: 18px;
    font-size: 10px;
    max-width: 44px;
    text-decoration: none;
    background-color: #e8edff;
    color: #b9c9fe;
}
#jingdu{display:none;}
#weidu{display:none;}
#shengfen{display:none;}
#province{display:none;}
#lo{display:none;}
#la{display:none;}
.lo_box{
    width: 40px !important;
    border: 0px;
    background: #2D93CA;
    color: white;
}

}

body{background-color: #ffffff;}
input{
	box-shadow:5px 3px 2px #bebebe;
}
.container{
    padding: 0;
    height:100%;
}
.regist{
    max-width: 100%;
    margin: auto;
    max-height:100%;
    position: relative;
    font-size: 20px;
}
.form input{
    max-width: 200px;
    margin: 0px;
    padding: 0px;
    height:28px;
    margin-bottom: 6px;
}
.lo_box{
    width: 100px;
    border: 0px;
    background: #2D93CA;
    color: white;
}
.biaoti{
    position: relative;
    text-align: left;
    margin-bottom: 2px;
    font-size: 38px;
    color: #3E5C76;
}
.form{
    margin: auto;
    text-align: left;
    max-width: 500px;
    position: relative;
}
.form_left{
    text-align: right;
    margin-top: 10px;
    width: 160px;
    position: absolute;
    float: left;
    padding-top: 2px;
}
.form_left nav{
    margin-bottom: 6px;
}
.form_right{
    position: absolute;
    margin-top: 12px;
    text-align: left;
    max-width: 100%;
    margin-left: 158px;
    float: left;
}
#accordion{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    margin-top: 120px;
}
.card{
    width: 780px;
    position: relative;
    margin: auto;
}
.card-header a{
    font-weight: bold;
    display: inline block;
    font-size: 1.5rem;
}
.card body{
    max-height: 100%;
}
#fo1{
    height: 200px;
}
#fo2{
    height: 540px;
}

.fa{
    position: relative;
    height: 160px;
}
.fb{
    position: relative;
    margin-top: 10px;
}
#headingOne{
    color: #3c7df1;
}
#headingTwo{
    background-color: #3c7df1;
    color: rgb(255, 255, 255);
}
.submit{
    position: relative;
    margin-top: 30px;
}
.submit a{
    margin: auto;
    width: 120px;
}
#map{
    width: 500px;
    height: 200px;
    position: relative;
    border-radius: 6px;
}
#mapinfo{
    width: 500px;
    position: relative;
    border-color: #ffffff;
    text-align: center;
}
#mapinfo td{
    max-width: 94px;
    height: 30px;
    border-color: #ffffff;
    border: #ffffff solid 1px;
    border-radius: 4px;
    padding: 4px;
}
#mapinfo tbody{
    background-color: #e8edff;
}
#ttwo{
    background-color: #e8edff;
    max-width: 94px;
    height: 30px;
    color: #b9c9fe;
    padding: 4px;
    font-size: 18px;
    text-align: center;
}
#tone{
    background-color: #b9c9fe;
    max-width: 94px;
    height: 30px;
    padding: 4px;
    color: #003399;
    font-size: 16px;
    font-weight: bold;
}
#mapinfo input{
    text-align: center;
    height: 18px;
    font-size: 18px;
    max-width: 90px;
    text-decoration: none;
    background-color: #e8edff;
    color: #b9c9fe;
}